header{
    .navbar-default{
        background-color:transparent;
        border:none;
        padding: 25px 0;
        text-shadow: -1px -1px 1px #333, 1px -1px 1px #333, -1px 1px 1px #333, 1px 1px 1px #333;
        z-index: 1;
    }
    .navbar-default .navbar-brand {
        color: white;
        font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
        font-size: 2.5em;
    }
    .navbar-default .navbar-nav > li > a{
        font-family: "Didact Gothic";
        font-size:1.3em;
        font-weight:bold;
        letter-spacing: 1px;
        color:white;
        &:hover{
            color: #009ca8;
        }
    }
}
#menu.active {
    background-color: #009ca8;
    padding: 6px 0;
    webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all 0s ease-in-out;
    -moz-transition: all 0s ease-in-out;
    transition: all 0.1s ease-in-out;
    -webkit-transform: translateZ(0);
}
/*END HEADER*/

#menu i{
    color: white;
}
