@mixin title{	
	display: block;
	width: 100%;
	padding-top: 63px;
	background-image: url("../../img/title-ads2.png");
	background-position: top center;
	background-repeat: no-repeat;
}
@mixin title-h1{	
	    font-size: 2.1em;
	    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
	    width: 100%;
	    letter-spacing: 2px;
	    margin: 0 auto;
	    max-width: 1250px;
	    text-align: center;
	    position: relative;
	    bottom: 61px;
}
