#habilidades{
	border:1px solid black;
	background-image: url("../../img/fondogris2.jpg");
    text-align: center;
    background-repeat: no-repeat;
    padding-bottom: 65px;
	.title{
		@include title;
	    margin-top: 55px;
    	  h1{
    	@include title-h1;
		}

	}
	
	h5 {
		font-weight: 700;
		color:#3E5196;
		margin-top: 24px;
		font-family: "Didact Gothic";
	}
}
.efecto{
	width: 100%;
	height: auto;
	margin: 0 auto;
	margin-top: 40px;
	text-align: center;
	.progresed {
		opacity: 0;
		transition: opacity 0.2s linear, margin 0.2s linear;
		font-family: Georgia, serif;
		font-style: italic;
		color: #009ca8;
		margin-top: 10px;
		margin-bottom: 20px;
		position: relative;
		height: 2em;
		width: 100%;
		background-color: white;
		padding-top: 6px;
		border-radius: 24px;
		border: 1px solid rgba(0,188,212,0.16);
	}
	&:hover {
		.progresed {
			opacity: 1;
			margin-top: 20px;
			margin-bottom: 10px;
		}
		cursor: pointer;
	}
	i {
		font-size: 4em;
		color: #009ca8;
		background: white;
		padding: 23px 35px;
		border-radius: 100%;
		border:2px solid #009ca8;
		&:hover {
			background-image: url("../../img/fondopaint.png");
			background-color: #ffffff;
			color:#009ca8;
			transition: 0.4s;
			border: 2px dashed #009ca8;
		}
	}
	.letter{
    margin-top: 0px;
	}
}
.bg-circle {
    border-radius: 100%;
    background-color: white;
    padding:29px 34px 33px 35px;
    display: inline-block;
    border: 2px solid #009ca8;
    margin-top: -18px;
    &:hover{
    	background-image: url("../../img/fondopaint.png");
		transition: 0.4s;
		border: 2px dashed #009ca8;
    }
}
.img-responsive{
	display: block;
    max-width: 100%;
    height: auto;
}
.progresed-bar {
	background-image: url("../../img/fondopaint.png");
	background-color: #ffffff;
	position: absolute;
	height: 0.6em;
	left: 10px;
	right: 3em;
	top: 0.7em;
	border:1px solid #009ca8;
	.progresed-bar-complete {
	background-color: #009ca8 !important;
	position: absolute;
	height: 100%;
}
}
.progresed-indicator {
	color: #009ca8 !important;
	margin-left: auto;
	width: 3em;
	height: 1em;
	line-height: 1em;
	font-style: normal;
}
.unir{
	margin: 0px 50px 0px 50px;
}
