#Portafolio{
		background-image: url("../../img/fondopaint.png");
	.container-fluid{
		background-color: rgba(13, 192, 192, 0.26);
	    padding-bottom: 80px;		 
	    .title{
		 	@include title;
		    margin-top: 55px;
	    	  h1{
	    	@include title-h1;
			}
		}
		.btn-group{
			    margin-top: 74px;
	    }
	    .controls {
	    padding: 2%;
	    color: #eee;
	    text-align: center;
		}
		label {
			font-weight: 300;
			margin: 0 .4em 0 0;
		}
		button {
			    display: inline-block;
			    padding: .4em .8em;
			    background: #fff;
			    border: 1px solid #000000;
			    color: #000000;
			    font-size: 16px;
			    font-weight: 300;
			    border-radius: 4px;
			    cursor: pointer;
			&:focus {
				outline: 0 none;
			}
			+ {
				label {
					margin-left: 1em;
				}
			}
		}
		button.active {
			background: #68b8c4;
		}
		.container {


				content: '';
				display: inline-block;
				width: 100%;
			}
			.mix {
				display: inline-block;
				width: 24.5%;
				text-align: left;
				margin-bottom: 2%;
				display: none;
				background-size: cover;
				&:after {
					content: attr(data-myorder);
					color: white;
					font-size: 16px;
					display: inline-block;
					vertical-align: top;
					padding: 4% 6%;
					font-weight: 700;
				}
				&:before {
					content: '';
					display: inline-block;
					padding-top: 60%;
				}
			}
			.gap {
				display: inline-block;
				width: 24.5%;
			}
				.mix.category-1 {
					border-top: 2px solid limegreen;
				}
				.mix.category-2 {
					border-top: 2px solid yellow;
				}
			}
			}
		}
		.bg1{
			background-image: url("../../img/holi.jpg");
		}
		.bg2{
			background-image: url("../../img/holi.jpg");
		}
		.bg3{
			background-image: url("../../img/holi.jpg");
		}
		.bg4{
			background-image: url("../../img/holi2.jpg");
		}
		.bg5{
			background-image: url("../../img/holi.jpg");
		}
		.bg6{
			background-image: url("../../img/holi2.jpg");
		}
		.bg7{
			background-image: url("../../img/holi.jpg");
		}
		.bg8{
			background-image: url("../../img/holi2.jpg");
		}
/*.imagen {
	figcaption {
		padding-bottom: 5px;
		h2 {
			word-spacing: -0.15em;
		    font-weight: 300;
		    margin: 0px;
		    color: #ffffff;
		    text-shadow: -2px -2px 1px #000000, 1px -2px 1px #000000, -2px 1px 1px #000000, 1px 2px 1px #000000;
		    text-align: center;
		    font-family: "Didact Gothic";

		}
	}
}
.effect-phoebe {
	&:hover {
		background:black;

	}
	
	.photo {
		-webkit-transition: opacity 0.35s;
		transition: opacity 0.35s;
		border: 3px solid black;
		width: 100%;
		
	}
	&:hover {
		.photo {
			opacity: 0.3;
			width: 100%;
		    overflow: visible;
		    border: 3px solid rgba(0,0,0,0.7);
		    -moz-box-sizing: border-box;
		    -webkit-box-sizing: border-box;
		    box-sizing: border-box;
		    -webkit-transition: all 0.4s ease-in-out;
		    -moz-transition: all 0.4s ease-in-out;
		    -o-transition: all 0.4s ease-in-out;
		    -ms-transition: all 0.4s ease-in-out;
		    transition: all 0.4s ease-in-out;
		}
	}
	h2 {
		margin-top: -1.3em !important;
		font-size: 24px;
	}
}*/
/* */
.view {
	margin: 4px;
	float: left;
	border: 2px solid #000000;
	overflow: hidden;
	position: relative;
	text-align: center;
	box-shadow: 1px 1px 2px #e6e6e6;
	cursor: default;
	.mask {
		width: 300px;
		height: 200px;
		position: absolute;
		overflow: hidden;
		top: 0;
		left: 0;
	}
	.content {
		width: 300px;
		height: 200px;
		position: absolute;
		overflow: hidden;
		top: 0;
		left: 0;
	}
	img {
		display: block;
		position: relative;
	}
	h2 {
		text-transform: uppercase;
		color: #fff;
		text-align: center;
		position: relative;
		font-size: 17px;
		font-family: Raleway, serif;
		padding: 10px;
		margin: 20px 0 0 0;
	}
	p {
		font-family: Merriweather, serif;
		font-style: italic;
		font-size: 14px;
		position: relative;
		color: #fff;
		padding: 0px 20px 0px;
		text-align: center;
	}
	a.info {
		display: inline-block;
		text-decoration: none;
		padding: 7px 14px;
		background: #000;
		color: #fff;
		font-family: Raleway, serif;
		text-transform: uppercase;
		box-shadow: 0 0 1px #000;
		&:hover {
			box-shadow: 0 0 5px #000;
		}
	}
}
.view-second {
	img {
		transition: all 0.2s ease-in;
		-webkit-transition: all 0.2s ease-in;
	}
	.mask {
		background-color: rgba(12, 19, 27, 0.6);
		width: 300px;
		padding: 105px;
		height: 200px;
		opacity: 0;
		transform: translate(265px, 145px) rotate(45deg);
		-webkit-transform: translate(265px, 145px) rotate(45deg);
		transition: all 0.2s ease-in-out;
		-webkit-transition: all 0.2s ease-in-out;
		border: 4px solid #009ca8;
	}
	h2 {
		border-bottom: 1px solid rgba(0, 0, 0, 0.3);
		font-family: Raleway, serif;
		background: transparent;
		margin: 20px 40px 0px 40px;
		-webkit-transform: translate(200px, -200px);
		transform: translate(200px, -200px);
		-webkit-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}
	p {
		transform: translate(-200px, 200px);
		-webkit-transform: translate(200px, -200px);
		transition: all 0.2s ease-in-out;
		-webkit-transition: all 0.2s ease-in-out;
	}
	a.info {
		transform: translate(0px, 100px);
		-webkit-transform: translate(0px, 100px);
		transition: all 0.2s 0.1s ease-in-out;
		-webkit-transition: all 0.2s 0.1s ease-in-out;
	}
	&:hover {
		.mask {
			opacity: 1;
			transform: translate(0px, 0px) rotate(0deg);
			-webkit-transform: translate(0px, 0px) rotate(0deg);
		}
		h2 {
			transform: translate(0px, 0px);
			-webkit-transform: translate(0px, 0px);
			transition-delay: 0.3s;
			-webkit-transition-delay: 0.3s;
		}
		p {
			transform: translate(0px, 0px);
			-webkit-transform: translate(0px, 0px);
			transition-delay: 0.4s;
			-webkit-transition-delay: 0.4s;
		}
		a.info {
			transform: translate(0px, 0px);
			-webkit-transform: translate(0px, 0px);
			transition-delay: 0.5s;
			-webkit-transition-delay: 0.5s;
		}
	}
}
